{% extends 'base.html' %}

{% block content %}
<div class="container-fluid" style="height: 100vh">
  <div class="row">
    <div class="col">
      <div class="card">
      <div class="card-body">
      <h5 class="card-title">View the facial recognition demo</h5>
      <p class="card-text">This demo uses OpenCV and haarcascade to detect faces on the screen and highlight them with a rectangle.
      It lets the user know how many faces are being recognized as well. This utilizes</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
  </div>
    <div class="col">
      <div class="card">
      <div class="card-body">
      <h5 class="card-title">Try out some filters</h5>
      <p class="card-text">These use the same OpenCV technology to </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
  </div>
    <div class="col">
      <div class="card">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}